@using RPG.Falu.Web.Models;
@model HomeViewModel

@{
    ViewBag.Title = "Bolygo";
}

@if (Model.LastSession != null)
{
    <div class="latest-session">
        <h4>Latest Session (@Model.LastSession.Date.ToShortDateString())</h4>
        <div class="notes">
            @Html.Raw(Model.LastSession.Notes)
        </div>
    </div>
}